@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: auto;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#main-content {
  display: block;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 40;
}